.weatherApp{
    align-items: center;
    border: solid 1px;
    margin-left: 150px;
    padding: 2%;
    border-radius: 40px;
    margin-right: 150px;
    margin-top: 20px;
}
.navbar{
    display: flex;
    gap: 70%;
    
}

#image{
    height: 730px;
    width: 100%;
    border-radius: 10px;
    
}
#button{
    margin-bottom: 20px;
    border-radius: 20px;
    width: 80%;
}
